.selected-node {
    font-size: 20em;
    
}

.node-profile {
    display: flex;
    width:inherit;
    
    .profile-text {
        text-align: 'center';
        width: 100%;
        padding-left: 5%;

        .profile-name {
            font-weight: bolder;
        }
        
        .profile-type {
            font-weight: lighter;
            margin:auto;
            font-size: medium;
        }
    }


}

.profile-data {
  margin-left: 2%;
  margin-top: 2%
}

.conn-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
    
}

.conn-card-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.card-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f00;
}

.nav-button {
  margin-left: 10%;
  // left
}

.button-menu {
  width: full;
  margin-top: 5%;

}