// Bootstrap variables can be overridden here:
$green: #d7FB41 !default;
$cyan: #c9dbed !default;
$gray-700: #495057 !default;
$light-blue: #add8e6 !default;
$light-green: #e9fd9b !default;

$font-size-base: 0.875rem !default;
$font-family-sans-serif: "Public Sans", Helvetica, Arial, sans-serif !default;
$font-family-serif: Sanchez, sans-serif !default;

$link-color: $gray-700 !default;
$btn-link-color: $link-color;
$link-hover-color: black !default;
$btn-border-radius: 0.25rem !default;
$table-bg: transparent !default;

$toast-max-width: 380px !default;

$theme-colors: (
  "primary": #d7ff33,
  "danger": #FF3371,
  "dark": #171f00
);